PORT=3000
ENV=development
FRONTEND_URI=http://localhost:5173

# Database
MONGO_URI=mongodb://localhost:27017/api-rate-limiter

# Redis
REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=change_me
SALT_KEY=change_me_too
